<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Harris Kristanto on 10/2/20 9:51 PM
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 10/2/20 9:24 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twinggo.moviepedia">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.mainavtivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>